.highlighter-box {
    background-color: #eee !important;
    border: #9e9e9e 1px solid !important;
    padding: 10px !important;
    position: fixed !important;
    bottom: 0;
    right: 0;
    font-size: 12px !important;
    text-align: left !important;
    z-index: 9999999999999999999999 !important;
    color: #222 !important;
    text-shadow: 1px 1px #fff;
    line-height: 16px !important;
}

.highlighted {
    outline-color: RGB(204, 0, 0);
    outline-style: dashed;
    outline-width: 2px;
}